body {
  font-family: Arial, sans-serif;
  margin: 0;
}
header, footer {
  background: #FFFFFF;
  color: black;
  text-align: center;
  padding: 20px;
}
nav {
  background: #FFFFFF;
  text-align: center;
}
nav a {
  color: black;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}
nav a:hover {
  background: #FFFFFF;
}
section {
  padding: 40px;
}
